@keyframes fromRight{
    0% { height: 30%; left: 90%; top: 70%; opacity: 0; width: 30%; }
    100% { height: 100%; left: 0%; top: 0%; opacity: 1; width: 100%; }
}
@keyframes toLeft{
    0% { height: 100%; left: 0%; top: 0%; opacity: 1; width: 100%; }
    100% { height: 30%; left: -20%; top: 70%; opacity: 0; width: 30%; }
}
@keyframes fromLeft{
    0% { height: 30%; left: -90%; top: 70%; opacity: 0; width: 30%; }
    100% { height: 100%; left: 0%; top: 0%; opacity: 1; width: 100%; }
}
@keyframes toRight{
    0% { height: 100%; left: 0%; top: 0%; opacity: 1; width: 100%; }
    100% { height: 30%; left: 120%; top: 70%; opacity: 0; width: 30%; }
}
@-webkit-keyframes fromRight {
    0% { height: 30%; left: 90%; top: 70%; opacity: 0; width: 30%; }
    100% { height: 100%; left: 0%; top: 0%; opacity: 1; width: 100%; }
}
@-webkit-keyframes toLeft {
    0% { height: 100%; left: 0%; top: 0%; opacity: 1; width: 100%; }
    100% { height: 30%; left: -20%; top: 70%; opacity: 0; width: 30%; }
}
@-webkit-keyframes fromLeft {
    0% { height: 30%; left: -90%; top: 70%; opacity: 0; width: 30%; }
    100% { height: 100%; left: 0%; top: 0%; opacity: 1; width: 100%; }
}
@-webkit-keyframes toRight {
    0% { height: 100%; left: 0%; top: 0%; opacity: 1; width: 100%; }
    100% { height: 30%; left: 120%; top: 70%; opacity: 0; width: 30%; }
}
